[submodule ".config/nvim_config"]
	path = .config/nvim/
	url = https://github.com/spanishpear/nvim_config
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/spanishpear/nvim_config
